<div class="form-card">
    <h2>Search Airbnb by Index</h2>
<form action="/api/airbnb/search/index" method="POST">
    <label for="index">Enter Index:</label>
    <input type="number" id="index" name="index" placeholder="Enter index" required min="0">
    <button type="submit">Search</button>
</form>

<hr>

{{#if error}}
<div style="color:red; font-weight:bold;">{{error}}</div>
{{/if}}

{{#if result}}
<h3>Result {{result.index}}:</h3>
<table border="1" cellpadding="6" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Price</th>
        <th>Thumbnail</th>
    </tr>
    {{#each result}}
    <tr>
        <td>{{id}}</td>
        <td>{{NAME}}</td>
        <td>{{country}}</td>
        <td>{{price}}</td>
        <td>
            {{#if thumbnail}}
            <img src="{{thumbnail}}" alt="Thumbnail" width="80">
            {{/if}}
        </td>
    </tr>
    {{/each}}
</table>
{{/if}}

</div>